/*#region global variables */

:root {
	--text-primary: #403f3d;
	--text-inverse: #e1d4c9;
	--text-accent: #b0907a;	
	--background-page: #e1d4c9;
	--background-container: #665f55;
	--background-overlay: rgba(64, 63, 61, 0.8);
	--border-primary: #c1b6ad;
	--border-inverse: #665f55;
	/* --text-primary: #403f3d; */
	--dark-text-primary: #e1d4c9;
	--dark-text-inverse: #e1d4c9;
	--dark-text-accent: #b0907a;
	--dark-bg-page: #292826;
	--dark-bg-container: #403f3d;
	--dark-bg-overlay: rgba(41, 40, 38, 0.8);
	--dark-border-primary: #665f55;
	--dark-border-inverse: #c1b6ad;
	--background-modal: #e1d4c9;
	--background-modalcontrol: #665f55;
	--dark-bg-modal: var(--dark-bg-container);
	--dark-bg-modal-control: var(--dark-bg-page);

	--font-family: "Inter", sans-serif;
	--second-family: "Manrope", sans-serif;
}

/*#endregion*/



/*#region common */

html {
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--text-inverse);
}

.container {
    max-width: 1440px;
    padding: 20px 40px;
    margin: 0 auto;
	/* background: yellow; */
	background: var(--text-inverse);
	border: 1px dotted red;

}

/*#endregion*/



/*#region header */

.header__inner {
    display: flex;
    align-items: center;
    height: 60px;
}

.nav {
    width: 1032px;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    gap: 40px;
    list-style: none;

	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	color: var(--text-primary);
}

/* .menu-link {
    text-decoration: none;
    color: inherit;
} */

.site-controls {
	width: 184px;
	height: 44px;
	margin-left: 44px;
	/* border: red dotted 2px; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.day-night {
	border: 1px solid var(--border-primary);
	border-radius: 100px;
	padding: 4px;
	width: 88px;
	height: 44px;
	display: flex;
	gap: 8px;
}

.menu-right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 72px;
    height: 60px;
    /* background-color: aqua; */

	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	color: var(--text-primary);
}

/*#endregion*/
